body {
  font-family: Courier, serif;
  font-size: 24px;
  padding: 0;
  margin: 0;
}
  h1, h2, h3 {font-weight: 400;}
  h1 {font-size: 3em; font-family: 'Bitter', sans-serif; font-weight: 700; color: white; text-shadow: -10px 12px 10px rgba(0,0,0,.75);}
  h2 {font-size: 2.55em; font-family: 'Archivo Narrow'; line-height: 1.3em; color: white; text-shadow: -10px 12px 10px rgba(0,0,0,.75);}
  h3 {font-size: 2em; font-family: 'Special Elite', cursive; }
  .blotter {background-image: url(royal_typewriter_comm2.jpg); background-position: center center;background-repeat: no-repeat; background-attachment: fixed; background-size: cover; background-color: #141B41; top: 0; height: 40%; width: 92%; padding: 0 4%; float: left; border-bottom: 10px double #F6AE2D; text-align: center;}
  .blotter p { font-size: 1.3em; font-family: 'Archivo Narrow'; color: #141B41; margin: 1.85em 0;}
  .blotter .btn {font-family: 'Archivo Narrow'; background-color: #F6AE2D; border-radius: 10px; text-decoration: none; color: #141B41; padding: .75em; }
  .explainer { visibility: visible; display: block; background-color: rgba(44,44,44,1); padding: 0 10% 3% 10%; float: left; font-family: Helvetica, sans-serif; color: rgba(222,222,222,1);}
  .explainer h3 { font-size: 3em; font-family: 'Archivo Narrow'; text-align: center; line-height: 1em;}
  .explainer a {color: #0090C1;}
  .explainer small {font-size: .78em;}
  .butcherpaper {background-color: white; z-index: 1; width: 100%; float: left;}
  .words {width: 95%; margin: 0 auto;}
  .words p{font-size: 1.9em;}
  .hide {visibility: hidden; display: none;}
@media (min-width: 550px) {
  h1 {font-size: 3.20em;}
  h2 {font-size: 2.20em;}
  h3 {font-size: 2.09em; font-family: 'Special Elite', cursive; }
  .words p{font-size: 1.45em;}
  .blotter {top: 0; height: 50%;}
  .blotter p {font-size: 1.8em;}
}
@media (min-width: 1000px) {
  h1 {font-size: 3.05em;}
  h2 {font-size: 1.60em;}
  h3 {font-size: 1.45em; font-family: 'Special Elite', cursive; }
  .blotter { top: 0; height: 40%;}
  .blotter p {font-size: 1.3em;}
  .words {width: 55%;}
  .words p{font-size: 1.1em;}
}
